body {
  background-image: url("cuterobot.jpg");
  background-color: transparent;
  background-size: stretch;
  background-repeat: no-repeat;
}

.row {
  margin-left: -20%;
  
}

@font-face {
  font-family: 'Admirationpains';
  src: url(Admirationpains.ttf);
}

@font-face {
  font-family: 'bytes';
  src: url(bytes.TTF)
}

h1 {
  font-family: 'Admirationpains';
}

#results {
  font-family: 'bytes';
  font-size: 150%;
  word-wrap: break-word;
}